.features .title, .modal .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header .button, .site-nav, .header-contact, .hero-text, .features .elements, .features .title-text, .features .text, .activity .title, .activity .elements, .activity .title-text, .teams .title, .teams .elements, .teams .title-text, .teams .text, .teams .social, .clients .title, .clients .elements, .footer .address, .address .item .text, .social .elements, .form {
  margin: 0px;
  padding: 0px;
}

.header .container {
  margin: 0 auto 0 auto;
  padding: 60px 15px;
}

.hero .button, .modal .btn-submit {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
}

.header .container {
  padding: 10px 15px;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .header .container {
    padding: 0 15px;
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 85px;
  }
}

.header .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
}

.header .button .icon {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  fill: currentColor;
}

.header .button .icon:hover {
  color: #2196f3;
}

.header .button .icon-cross {
  opacity: 0;
}

.header .button.is-open .icon-cross {
  opacity: 1;
}

.header .button.is-open .icon-menu {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .header .button {
    display: none;
  }
}

.logo {
  display: block;
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo .accent {
  color: #2196f3;
}

.header .menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  padding: 60px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ececec;
  overflow: scroll;
}

.header .menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .header .menu-container {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    border: none;
    overflow: visible;
  }
}

.site-nav {
  list-style-type: none;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-right: 84px;
  }
}

.site-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav .link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 12px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 32px 0;
  }
}

.site-nav .current {
  color: #2196f3;
}

.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-contact {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .header-contact {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stech;
        -ms-flex-align: stech;
            align-items: stech;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 32px 0;
    margin-right: 30px;
  }
}

.header-contact .item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-contact .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .item:not(:last-child) {
    margin-bottom: 0;
  }
}

.header-contact .contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stech;
      -ms-flex-align: stech;
          align-items: stech;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact .contact:hover, .header-contact .contact:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-contact .contact {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .contact {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.header-contact .post {
  width: 16px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contact .post {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.header-contact .tel {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contact .tel {
    height: 14px;
    margin-right: 8px;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header/header-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header/header-mob.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header/header-mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header/header-mob@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header/header-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header/header-tablet.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header/header-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header/header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header/header-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header/header-desktop.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header/header-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header/header-desktop@2x.jpg);
  }
}

.hero .container {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 480px;
  padding: 118px 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-text {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.65;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    width: 696px;
    margin: 0 auto 30px auto;
  }
}

.hero .button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  margin: 0;
  padding: 0;
  max-width: 480px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .features {
    margin: 0;
    padding: 0;
    max-width: 768px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.features .elements {
  list-style-type: none;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .features .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.features .item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .features .item {
    width: calc(((100% - 4 * 15px)) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features .item {
    width: calc(((100% - 8 * 15px)) / 4);
  }
}

.features .icon {
  text-align: center;
  height: 120px;
  padding: 25px 0;
  margin-bottom: 30px;
  color: #212121;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features .icon-item {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.features .title-text {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features .title-text {
    text-align: left;
  }
}

.features .text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    text-align: center;
  }
}

.activity .title {
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.activity .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.activity .item {
  position: relative;
}

.activity .imeg {
  display: block;
  width: 370px;
  height: 294px;
  border-radius: 4px;
}

.activity .title-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
}

.teams {
  background-color: #f5f4fa;
}

.teams .container {
  margin: 0;
  padding: 0;
  max-width: 480px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .teams .container {
    margin: 0;
    padding: 0;
    max-width: 768px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .teams .container {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.teams .title {
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .teams .title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.teams .elements {
  list-style-type: none;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .teams .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.teams .item {
  text-align: center;
  padding-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .teams .item {
    width: calc(((100% - 4 * 15px) / 2));
  }
}

@media screen and (min-width: 1200px) {
  .teams .item {
    width: calc(((100% - 8 * 15px) / 4));
  }
}

.teams .imeg-box {
  overflow: hidden;
  margin-bottom: 30px;
  height: 320px;
}

@media screen and (min-width: 768px) {
  .teams .imeg-box {
    height: 260px;
  }
}

.teams .imeg {
  display: block;
  width: 100%;
  height: auto;
}

.teams .title-text {
  text-align: center;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.teams .text {
  text-align: center;
  margin-bottom: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}

.teams .social {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teams .item-link:not(:last-child) {
  margin-right: 10px;
}

.teams .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teams .link:hover, .teams .link:focus {
  color: #fff;
  background-color: #2196f3;
}

.teams .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  background: #ffffff;
  margin: 0;
  padding: 0;
  max-width: 480px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .clients {
    margin: 0;
    padding: 0;
    max-width: 768px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.clients .title {
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .clients .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients .elements {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  height: 90px;
  width: calc((100% - 4 * 15px) / 2);
}

@media screen and (min-width: 768px) {
  .clients .item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients .item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover, .clients .link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients .client_1 {
  width: 44px;
  height: 49px;
  fill: currentColor;
}

.clients .client_2 {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.clients .client_3 {
  width: 41px;
  height: 43px;
  fill: currentColor;
}

.clients .client_4 {
  width: 80px;
  height: 42px;
  fill: currentColor;
}

.clients .client_5 {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.clients .client_6 {
  width: 89px;
  height: 46px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  margin: 0;
  padding: 0;
  max-width: 480px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    margin: 0;
    padding: 0;
    max-width: 768px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer .for-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .for-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer .address {
  list-style-type: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer .address {
    margin: 0;
    margin-right: 69px;
  }
}

.address .item {
  display: block;
}

.address .item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address .item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address .item .text {
  color: #fff;
}

.address .item .post,
.address .item .tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer .social {
  margin-bottom: 60px;
}

.social .title-text {
  display: block;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social .elements {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

.footer .social .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social .link:hover, .footer .social .link:focus {
  background-color: #2196f3;
}

.social .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing .title-text {
  display: block;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .mailing .js-speaker-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mailing .input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .mailing .input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing .input {
    margin: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.mailing .btn-submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  padding: 10px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mailing .icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  text-align: center;
  max-width: 450px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal .title-text {
  display: inline-block;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  color: #000;
  background-color: #ffffff;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .btn-close:hover, .modal .btn-close:focus {
  color: #2196f3;
}

.modal .icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.form {
  list-style-type: none;
  margin-bottom: 20px;
}

.form .item {
  position: relative;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form .item:not(:last-child) {
  margin-bottom: 28px;
}

.form .input {
  display: block;
  width: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form .input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form .input:focus ~ .icon {
  fill: #2196f3;
}

.form .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
}

.form .lable {
  position: absolute;
  top: 50%;
  left: 42px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes trans {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translate(-30px, -40px);
            transform: translate(-30px, -40px);
  }
}

@keyframes trans {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translate(-30px, -40px);
            transform: translate(-30px, -40px);
  }
}

.form .input:focus + .lable,
.form .input:not(:placeholder-shown) + .lable {
  -webkit-animation: trans 700ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
          animation: trans 700ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  color: #2196f3;
}

.form .coment {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.form .coment-lable {
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .input:focus + .coment-lable,
.form .input:not(:placeholder-shown) + .coment-lable {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  color: #2196f3;
}

.modal .consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 31px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal .checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
}

.modal .checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../img/m-icon-check.svg);
  border-color: #2196f3;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.modal .contract {
  color: #2196f3;
}

.modal .btn-submit {
  padding: 10px 0;
  width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */