.page .title, .filter .title, .works .title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header .button, .site-nav, .header-contact, .filter .elements, .works .elements, .works .hf-text, .works .title-text, .works .text, .footer .address, .address .item .text, .social .elements {
  margin: 0px;
  padding: 0px;
}

.header .container {
  margin: 0 auto 0 auto;
  padding: 60px 15px;
}

.header .container {
  padding: 10px 15px;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .header .container {
    padding: 0 15px;
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 85px;
  }
}

.header .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
}

.header .button .icon {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  fill: currentColor;
}

.header .button .icon:hover {
  color: #2196f3;
}

.header .button .icon-cross {
  opacity: 0;
}

.header .button.is-open .icon-cross {
  opacity: 1;
}

.header .button.is-open .icon-menu {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .header .button {
    display: none;
  }
}

.logo {
  display: block;
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo .accent {
  color: #2196f3;
}

.header .menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  padding: 60px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ececec;
  overflow: scroll;
}

.header .menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .header .menu-container {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    border: none;
    overflow: visible;
  }
}

.site-nav {
  list-style-type: none;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-right: 84px;
  }
}

.site-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav .link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 12px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 32px 0;
  }
}

.site-nav .current {
  color: #2196f3;
}

.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-contact {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .header-contact {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stech;
        -ms-flex-align: stech;
            align-items: stech;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 32px 0;
    margin-right: 30px;
  }
}

.header-contact .item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-contact .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .item:not(:last-child) {
    margin-bottom: 0;
  }
}

.header-contact .contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stech;
      -ms-flex-align: stech;
          align-items: stech;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact .contact:hover, .header-contact .contact:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-contact .contact {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .contact {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.header-contact .post {
  width: 16px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contact .post {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.header-contact .tel {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contact .tel {
    height: 14px;
    margin-right: 8px;
  }
}

.page {
  border-top: 1px solid #ececec;
  margin: 0;
  padding: 0;
  max-width: 480px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .page {
    margin: 0;
    padding: 0;
    max-width: 768px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.filter .elements {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter .elements {
    margin-bottom: 50px;
  }
}

.filter .item {
  text-align: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter .item:not(:last-child) {
    margin-bottom: 0;
  }
}

.filter .button {
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover, .filter .button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.works .elements {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .works .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.works .item {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

@media screen and (max-width: 767px) {
  .works .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .works .item {
    margin: 0;
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .works .item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.works--item {
  text-decoration: none;
  display: block;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works--item:hover, .works--item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.works .imeg {
  position: relative;
  overflow: hidden;
}

.works .link-img {
  display: block;
  width: 100%;
  height: 294px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.works .hf-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 77px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 5px 5px 0 0;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works--item:hover .works .hf-text,
.works--item:focus .works .hf-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .works .hf-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 768px) {
  .works .hf-text {
    padding: 63px 24px;
  }
}

.works--item:hover .hf-text,
.works--item:focus .hf-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works .description {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.works .title-text {
  text-decoration: none;
  margin-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.works .title-text .star {
  display: inline;
}

@media screen and (min-width: 768px) {
  .works .title-text .star {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .works .title-text .star {
    display: inline;
  }
}

.works .text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  margin: 0;
  padding: 0;
  max-width: 480px;
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    margin: 0;
    padding: 0;
    max-width: 768px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer .for-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .for-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer .address {
  list-style-type: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer .address {
    margin: 0;
    margin-right: 69px;
  }
}

.address .item {
  display: block;
}

.address .item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address .item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address .item .text {
  color: #fff;
}

.address .item .post,
.address .item .tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer .social {
  margin-bottom: 60px;
}

.social .title-text {
  display: block;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social .elements {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

.footer .social .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social .link:hover, .footer .social .link:focus {
  background-color: #2196f3;
}

.social .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing .title-text {
  display: block;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .mailing .js-speaker-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mailing .input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .mailing .input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing .input {
    margin: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.mailing .btn-submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  padding: 10px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mailing .icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */