.activity {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    @include Container($width: $desktop, $padding: 94px 15px);
    padding-top: 0;
    text-align: center;
  }
}

.activity .title {
  @extend %resetMarPad;

  margin-bottom: 50px;

  @include font($weight: bold, $size: 36px);
  color: $titleTextColor;
}

.activity .elements {
  @extend %resetMarPad;

  @include flex($content: space-between);

  list-style-type: none;
}

.activity .item {
  position: relative;
}

.activity .imeg {
  display: block;

  width: 370px;
  height: 294px;

  border-radius: 4px;
}

.activity .title-text {
  @extend %resetMarPad;

  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 27px;

  text-align: center;

  @include font($weight: bold);
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
}
