.logo {
  display: block;
  color: $titleTextColor;
  text-decoration: none;

  .accent {
    color: $accentColor;
  }

  @include font($family: Raleway, $weight: bold, $size: 24px);
  line-height: 1.2;
  letter-spacing: 0.03em;
}
