.works .title {
  @extend %visually-hidden;
}

.works .elements {
  @extend %resetMarPad;
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
