.footer .logo {
  margin-bottom: 20px;

  color: #ffffff;
}

.footer .address {
  list-style-type: none;
  @extend %resetMarPad;
  @include font($weight: normal, $height: 1.5);
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin: 0;
    margin-right: 69px;
  }
}

.address .item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }

  & .text {
    @extend %resetMarPad;
    color: #fff;
  }

  & .post,
  & .tel {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
}
