.footer .logo {
  margin-bottom: 20px;

  color: #ffffff;
}

.footer .address {
  list-style-type: none;
  @extend %resetMarPad;

  @extend %text;
}

.address .item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  & .text {
    color: #fff;
  }

  & .post,
  & .tel {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
}
