.footer .social {
  margin-bottom: 60px;
}

.social .title-text {
  display: block;
  margin-bottom: 20px;

  @include font($weight: bold);
  text-transform: uppercase;

  color: #ffffff;
}

.social .elements {
  @extend %resetMarPad;
  list-style-type: none;

  @include flex;
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

.footer .social .link {
  @include flex($display: inline-flex);
  width: 44px;
  height: 44px;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.social .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
