@mixin Container($width, $padding: 60px 15px) {
  margin: 0;
  padding: 0;
  max-width: $width;
  padding: $padding;
  margin-left: auto;
  margin-right: auto;
}

@mixin font(
  $family: Roboto,
  $style: normal,
  $weight: 500,
  $size: 14px,
  $height: 1.2,
  $spacing: 0.03em
) {
  font-family: $family, sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin flex($display: flex, $item: center, $content: center) {
  display: $display;
  align-items: $item;
  justify-content: $content;
}

@mixin transition($type) {
  transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
